@charset "UTF-8";

/* @import url('/WEB-INF/yul/css/reset.css'); */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');


* {
	font-family: 'Noto Sans KR', sans-serif;
	/* font-family: 'Hi Melody', cursive; */
}

/* 헤더 */
#header_box {
	/* position: fixed; */
	width: 100%;
	height: 12%;
	/* z-index: 50; */
	background: rgba(0, 0, 0, 0.3) url("/soyul/yul/images/main/manu_image.png") center center/cover no-repeat;
}

#header {
	display: flex;
	margin: 0 auto;
	max-width: 1200px;
	height: 100%;
}

#header #logo {
	width: 15%;
	height: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	padding-top: 0.5%;
	float: left;
}

#header #logo img {
	height: 100%;
}

#header nav {
	width: 70%;
	height: 100%;
	margin: 0 auto;
	float: right;
}

#header nav ul {
	list-style-type: none;
	display: table;
	table-layout: fixed;
	width: 100%;
}

#header nav ul li {
	margin: 0 auto;
	text-align: center;
	line-height: 30px;
	color: #d4d5d5;
	display: table-cell;
}

#header nav #loginBar {
	width: 55%;
	height: 40%;
	margin-left: 45%;
	font-size: 14px;
	box-sizing: border-box;
	padding-top: 1%;
}

#header nav #menu {
	width: 100%;
	height: 60%;
	font-size: 20px;
	font-weight: 600;
	box-sizing: border-box;
	padding-top: 1.5%;
}

#header nav ul li a {
	text-decoration: none;
	color: #fff;
}

#header nav ul li a:hover {
	color: #e7daf2;
	text-shadow: 2px 4px 2px #000;
}


/* 푸터 */
#footer-box {
	width: 100%;
	height: 10%;
	max-height:120px;
	/* position: absolute; */
	bottom: 0;
	z-index: 50;
}

.footer {
	width: 100%;
	height:100%;
	display: flex;
	bottom: 0;
	z-index: 100;
	background: rgba(0, 0, 0, 0.3);
}

.footer div {
	margin: auto;
}

.footer div p {
	font-size: 12px;
	font-weight: 500;
	color: white;
	margin: 0 auto;
}

#section{
	width: 94%;
	max-width: 1200px;
	margin: 0 auto;
}

/*콘텐츠의 가장 외곽*/
#contentContainer{
	max-width: 1200px;
	min-height: 800px;
	margin: 0 auto;
}


/*회원 주문 폼*/
#orderFormSubmint input[type=text], #orderFormSubmint textarea{
	width:80%;
	resize: none;
	box-sizing: border-box;
	border: 1px solid #ddd;
}

#orderFormSubmint input[type=submit]{
	margin-top : 10%;
	margin-left: 37%;
	width:30%;
	font-size: 18px;
	padding: 3px;
	resize: none;
	height: 36px;
	border: none;
	padding: 3px;
	background: #aaa;
	color : white;
	cursor: pointer;
}
#orderFormSubmint select{
	width:100%;
	height: 36px;
	font-size: 16px;
    vertical-align: middle;
    padding: 0 15px;
    text-align: center;
}

/*회원주문리스트*/
#contentContainer #subMenu {
	width:100%;
	height:10%;
	max-height:50px;
	text-align: center;
}
#contentContainer #subMenu .orderMenu{
	width: 40%;
	height: 100%;
	margin: 0 auto;
}
#contentContainer #subMenu .orderMenu #orderListA, #contentContainer #subMenu .orderMenu #orderFormA{
	font-size: 22px;
	font-weight: bold;
	padding:7% 0;
	/* padding-top: 7%; */
    /* text-decoration: underline; */
}
#contentContainer #subMenu .orderMenu #orderListA{
	float: left;
}
#contentContainer #subMenu .orderMenu #orderFormA{
	float: right;
}

#contentContainer #subMenu .orderMenu ul{
	display: table;
	table-layout: fixed;
}
#contentContainer #subMenu .orderMenu ul li{
	text-align: center;
	display: table-cell;
}
#contentContainer #mberOrderList .orderList .orderState{
	border-bottom: 1px solid #aaa;
}
#contentContainer #mberOrderList .orderList .orderEmpty{
	width: 47%;
	height: 200px;
	margin: 1% auto;
	font-size: 16px;
	text-align: center;
}


/* 회원가입 폼 */
/* #contentContainer #subMenu {
	width:100%;
	height:10%;
	text-align: center;
} */
#contentContainer #subMenu .reviewTop{
	width: 40%;
	height: 100%;
	margin: 0 auto;
}
#contentContainer  #subMenu .reviewTop #reviewTitle{
	font-size: 22px;
	font-weight: bold;
	padding-top: 7%;
    text-decoration: underline;
}
#joinFormTable th{
	border-bottom: 2px solid #ddd;
}
#joinFormTable input[type=text], #joinFormTable input[type=password],
#joinFormTable input[type=number], #joinFormTable input[type=email]
{
	width:80%;
}
#joinFormTable select{
	width:80%;
	height: 36px;
	font-size: 16px;
    vertical-align: middle;
    padding: 0 15px;
}
#joinFormTable #btnIdDplct{
	width: 60px;
	height: 36px;
	border: none;
	background: #aaa;
	color : white;
	cursor: pointer;
	padding:3px;
	box-sizing: border-box;
}
#joinFormTable input[type=submit]{
	margin-top : 10%;
	margin-left: 37%;
	width:30%;
	height: 36px;
	border: none;
	font-size: 18px;
	padding: 3px;
	background: #aaa;
	color : white;
	cursor: pointer;
}
#joinFormTable #sexCodeBox{
	width:80%;
	border:1px solid #ddd;
	height: 36px;
	font-size: 16px;
	box-sizing: border-box;
}
#joinFormTable #sexCodeBox .sexCode{
	display: inline-block;
	width:20%;
	margin: 1% 5%;
}

/* 리뷰 리스트 reviewList2.jsp*/
.container {
	max-width: 1200px;
	min-height: 100%;
	/* background-color: aqualightblue; */
}
.container  #subMenu {
	width:100%;
	height:10%;
	text-align: center;
}
.container  #subMenu .reviewTop{
	width: 40%;
	height: 100%;
	margin: 0 auto;
}
.container  #subMenu .reviewTop #reviewTitle{
	font-size: 22px;
	font-weight: bold;
	padding: 7% 0;
	/* padding-top: 7%; */
    text-decoration: underline;
}

.reviewList {
	width: 100%;
	text-align: center;
	/* background-color: lightblue; */
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}
.reviewList .reviewEmpty {
	width: 47%;
	height: 200px;
	margin: 1% auto;
	font-size: 15px;
}
.reviewList .reviewBody {
	width: 47%;
	height: 200px;
	margin: 1%;
	padding: 0;
	display: inline-block;
	border: 2px solid #aaa;
	/* background-color: lightskyblue; */
}

.reviewList .reviewBody .reviewTable {
	float:right;
	width: 59%;
	height: 100%;
	/* background-color: beige; */
	text-align: left;
}


.reviewList .reviewBody .reviewSum {
	float:left;
	width: 39%;
	height: 200px;
	background-color: #eee;
	margin: 0;
}

.reviewList .reviewBody .reviewSum #reviewSumImg{
	margin-top: 13%;
}

.reviewList .reviewBody .reviewTable dl { 
	font-size: 0;
	width:100%; 
	margin-top: 0.5%;
}
.reviewList .reviewBody .reviewTable dl dt { 
	text-align: center;
	font-weight:500;
	color:#333;
	background-color: #eee;
}
.reviewList .reviewBody .reviewTable dl dd { 
	text-align: left;
}
.reviewList .reviewBody .reviewTable dl dt, .reviewList .reviewBody .reviewTable dl dd{
	vertical-align:middle; 
	font-size:14px;
	display: inline-block;
}


/* reviewSelect.jsp 리뷰디테일 */

#replyInputBox{
	width:80%; 
	height:36px;
	margin:3% auto;
}

#replyInputBox #replyInputTable{
	width: 100%;
}
#replyInputBox #replyInputTable th, #replyInputBox #replyInputTable td{
	height: 36px;
}
#replyInputBox #replyInputTable th{
	width: 87%;
}
#replyInputBox #replyInputTable td{
	width: 13%;
}
#replyInputBox #replyInputTable #replyContent{
	width:100%; 
	height:36px; 
	box-sizing:border-box; 
	font-size:16px;
	resize: none;
}
#replyInputBox #replyInputTable #saveBtn{
	width:100%; 
	height:36px; 
	border:none; 
	background-color:#aaa; 
	color:white; 
	font-size:16px;
}

#contents .comment-list{
	margin-bottom:10%;
}

.comment-list #replyList{
	font-size:14px;
	box-sizing: border-box;
	border-collapse: collapse;
	border : 1px solid #aaa;
}
.comment-list #replyList th, .comment-list #replyList td{
	min-height: 32px;
	padding: 0.5% 1%;
	border : 1px solid #aaa;
	
}

.comment-list #replyList .commentRegisterId {
	width : 15%;
	text-align: center;
}
.comment-list #replyList .commentContent {
	width : 60%;
	text-align: left;
}
.comment-list #replyList .commentRegisterDate {
	width : 15%;
	text-align: center;
}
.comment-list #replyList .commentController {
	width: 10%;
	text-align: center;
}
.comment-list #replyList .commentController .replyEditBtn, .comment-list #replyList .commentController .replyDeleteBtn{
	width: 40%;
    height: 30px;
	margin: 1%;
	box-sizing: border-box;
	font-sise:14px;
    display: inline-block;
    background-color: #ddd;
    color:#555;
}


