@charset "UTF-8";

@import url('/WEB-INF/yul/css/reset.css');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');


* {
	font-family: 'Noto Sans KR', sans-serif;
	/* font-family: 'Hi Melody', cursive; */
}

/* 헤더 */
#header_box {
	/* position: fixed; */
	width: 100%;
	height: 12%;
	/* z-index: 50; */
	background: rgba(0, 0, 0, 0.3) url("/soyul/yul/images/main/manu_image.png") center center/cover no-repeat;
}

#header {
	display: flex;
	margin: 0 auto;
	max-width: 1200px;
	height: 100%;
}

#header #logo {
	width: 15%;
	height: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	padding-top: 0.5%;
	float: left;
}

#header #logo img {
	height: 100%;
}

#header nav {
	width: 70%;
	height: 100%;
	margin: 0 auto;
	float: right;
}

#header nav ul {
	list-style-type: none;
	display: table;
	table-layout: fixed;
	width: 100%;
}

#header nav ul li {
	margin: 0 auto;
	text-align: center;
	line-height: 30px;
	color: #d4d5d5;
	display: table-cell;
}

#header nav #loginBar {
	width: 30%;
	height: 40%;
	margin-left: 70%;
	font-size: 14px;
	box-sizing: border-box;
	padding-top: 1%;
}

#header nav #menu {
	width: 100%;
	height: 60%;
	font-size: 20px;
	font-weight: 600;
	box-sizing: border-box;
	padding-top: 1.5%;
}

#header nav ul li a {
	text-decoration: none;
	color: #fff;
}

#header nav ul li a:hover {
	color: #e7daf2;
	text-shadow: 2px 4px 2px #000;
}


/* 푸터 */
#footer-box {
	width: 100%;
	height: 10%;
	max-height:120px;
	/* position: absolute; */
	bottom: 0;
	z-index: 50;
}

.footer {
	width: 100%;
	height:100%;
	display: flex;
	bottom: 0;
	z-index: 100;
	background: rgba(0, 0, 0, 0.3);
}

.footer div {
	margin: auto;
}

.footer div p {
	font-size: 12px;
	font-weight: 500;
	color: white;
	margin: 0 auto;
}

#section{
	width: 94%;
	max-width: 1200px;
	margin: 0 auto;
}

/* 회원가입 폼 */